body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
  margin: 0%;
  padding: 0%;
  line-height: 1.6;
  color: #333;
}

.header {
  text-align: center;
  color: #393636;
  background-color: #bab6b6;
  padding: 20px 0;
}
.resume{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 40px;
}
.profile{
    width: 120px;
    border-radius: 30%;
    display: block;
    margin: 10px auto;
}