body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
  margin: 0%;
  padding: 0%;
  line-height: 1.6;
  color: #333;
}

.header {
  text-align: center;
  background-color: #e0f0e9;
  padding: 20px;
  border-bottom: 2px solid #ccc;
}
.profile {
  width: 120px;
  border-radius: 10%;
  display: block;
  margin: 10px auto;
}
